@font-face {
  src: url(../fonts/Veneer.ttf);
  font-family: 'veneer'; }

h1 {
  font-family: veneer, serif;
  color: darkred !important;
  font-size: 60px !important; }

.h1 {
  padding-top: 150px !important; }

#bg-image {
  background-color: #0a0000 !important;
  position: relative;
  height: 100% !important;
  width: 100% !important;
  font-family: veneer, serif; }

@media screen and (max-width: 480px) {
  img {
    transform: scale(1) !important; }
  h1 {
    font-size: 40px !important; } }
