
#item{
	top:0;
	left:0;
	position:fixed;
	height:100vh;
	width:100vw;
}

#img_frame{
	top:0;
	left:0;
	position:fixed;
	min-width: 100%;
	height: auto;
}

#cover{
	background-color:green;
	min-height:100%;
}
#details{
    background-color:blue;
	min-height:100%;
}
#register{
	background-color:yellow;
}
.hidden{
	display : none;
}